@import "tailwindcss";



@theme {
  --color-primary: #003f8a;
  --color-dark: #333333;
  --color-orange: #9c3e12;
  --color-orange2: #ff6600;
  --color-yellow: #ffa500;
  --color-gray: #d6d4d4;
  --color-blue: #2d3e50;
}

.bg-herobg {
  background-image: url('/assets/herobg1.png');
}
.bg-herobg2 {
  background-image: url('/assets/herobg2.png');
}
.bg-herobg3 {
  background-image: url('/assets/herobg3.png');
}
.bg-herobg4 {
  background-image: url('/assets/herobg4.png');
}
.bg-herobg5 {
  background-image: url('/assets/herobg5.png');
}
.bg-herobg6 {
  background-image: url('/assets/herobg6.png');
}
.bg-blog {
  background-image: url('/assets/blog1.jpg');
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
